#### Project 3 Diabetes Prediction Using Machine Learning

In [1]:
import pandas as pd

In [4]:
data = pd.read_csv('diabetesdataset.csv')

#### 1. Display Top 5 Rows of the Datast

In [5]:
data.head()

,Unnamed: 0,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,0,6,148,72,35,0,33.6,0.627,50,1
1,1,1,85,66,29,0,26.6,0.351,31,0
2,2,8,183,64,0,0,23.3,0.672,32,1
3,3,1,89,66,23,94,28.1,0.167,21,0
4,4,0,137,40,35,168,43.1,2.288,33,1

#### 2. Check Last 5 Rows of the Dataset

In [6]:
data.tail()

,Unnamed: 0,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
763,763,10,101,76,48,180,32.9,0.171,63,0
764,764,2,122,70,27,0,36.8,0.340,27,0
765,765,5,121,72,23,112,26.2,0.245,30,0
766,766,1,126,60,0,0,30.1,0.349,47,1
767,767,1,93,70,31,0,30.4,0.315,23,0

#### 3. Find Shape of our Dataset (Number of Rows and Number of Columns)

In [7]:
data.shape

(768, 10)

In [8]:
print("Number of Rows",data.shape[0])
print("Number of Columns",data.shape[1])

Number of Rows 768
Number of Columns 10

#### 4. Get Information about datset like Total number of rows,Total number of columns,Datatypes of each column and menory requirement

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                768 non-null    int64
 1   Pregnancies               768 non-null    int64
 2   Glucose                   768 non-null    int64
 3   BloodPressure             768 non-null    int64
 4   SkinThickness             768 non-null    int64
 5   Insulin                   768 non-null    int64
 6   BMI                       768 non-null    float64
 7   DiabetesPedigreeFunction  768 non-null    float64
 8   Age                       768 non-null    int64
 9   Outcome                   768 non-null    int64
dtypes: float64(2), int64(8)
memory usage: 60.1 KB

#### 5. Check Null Values in the Dataset

In [10]:
data.isnull().sum()

Unnamed: 0                  0
Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

#### 6. Get Over all Statistics about the dataset

In [11]:
data.describe()

,Unnamed: 0,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,383.500000,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,221.846794,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,191.750000,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,383.500000,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,575.250000,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,767.000000,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [12]:
import numpy as np

In [14]:
data_copy = data.copy(deep=True)

In [15]:
data.columns

Index(['Unnamed: 0', 'Pregnancies', 'Glucose', 'BloodPressure',
       'SkinThickness', 'Insulin', 'BMI', 'DiabetesPedigreeFunction', 'Age',
       'Outcome'],
      dtype='object')

In [17]:
data_copy[['Glucose', 'BloodPressure',
       'SkinThickness', 'Insulin', 'BMI']] = data_copy[['Glucose', 'BloodPressure',
       'SkinThickness', 'Insulin', 'BMI']].replace(0,np.nan)

In [16]:
data_copy[['Glucose', 'BloodPressure',
       'SkinThickness', 'Insulin', 'BMI']].replace(0,np.nan)

     Glucose  BloodPressure  SkinThickness  Insulin   BMI
0      148.0           72.0           35.0      NaN  33.6
1       85.0           66.0           29.0      NaN  26.6
2      183.0           64.0            NaN      NaN  23.3
3       89.0           66.0           23.0     94.0  28.1
4      137.0           40.0           35.0    168.0  43.1
..       ...            ...            ...      ...   ...
763    101.0           76.0           48.0    180.0  32.9
764    122.0           70.0           27.0      NaN  36.8
765    121.0           72.0           23.0    112.0  26.2
766    126.0           60.0            NaN      NaN  30.1
767     93.0           70.0           31.0      NaN  30.4

[768 rows x 5 columns]

In [18]:
data_copy.isnull().sum()

Unnamed: 0                    0
Pregnancies                   0
Glucose                       5
BloodPressure                35
SkinThickness               227
Insulin                     374
BMI                          11
DiabetesPedigreeFunction      0
Age                           0
Outcome                       0
dtype: int64

In [19]:
data['Glucose'] = data['Glucose'].replace(0,data['Glucose'].mean())
data['BloodPressure'] = data['BloodPressure'].replace(0,data['BloodPressure'].mean())
data['SkinThickness'] = data['SkinThickness'].replace(0,data['SkinThickness'].mean())
data['Insulin'] = data['Insulin'].replace(0,data['Insulin'].mean())
data['BMI'] = data['BMI'].replace(0,data['BMI'].mean())

#### 7. Store Feature Matrix in X and Response(Target Outcomes) in Vector y

In [21]:
X = data.drop('Outcome',axis=1)
y = data['Outcome']

In [22]:
X

,Unnamed: 0,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,0,6,148.0,72.0,35.000000,79.799479,33.6,0.627,50
1,1,1,85.0,66.0,29.000000,79.799479,26.6,0.351,31
2,2,8,183.0,64.0,20.536458,79.799479,23.3,0.672,32
3,3,1,89.0,66.0,23.000000,94.000000,28.1,0.167,21
4,4,0,137.0,40.0,35.000000,168.000000,43.1,2.288,33
...,...,...,...,...,...,...,...,...,...
763,763,10,101.0,76.0,48.000000,180.000000,32.9,0.171,63
764,764,2,122.0,70.0,27.000000,79.799479,36.8,0.340,27
765,765,5,121.0,72.0,23.000000,112.000000,26.2,0.245,30
766,766,1,126.0,60.0,20.536458,79.799479,30.1,0.349,47
767,767,1,93.0,70.0,31.000000,79.799479,30.4,0.315,23

In [23]:
y

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

#### 8. Splitting the datast into the training set and test set

In [24]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.20,random_state=42)

#### 9. Scikit-Learn Pipeline

In [26]:
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier

from sklearn.pipeline import Pipeline

In [28]:
pipeline_lr = Pipeline([('scalar1', StandardScaler()), ('lr_classifier', LogisticRegression())])

pipeline_knn = Pipeline([('scalar2', StandardScaler()), ('knn_classifier', KNeighborsClassifier())])

pipeline_svc = Pipeline([('scalar3', StandardScaler()), ('svc_classifier', SVC())])

pipeline_dt = Pipeline([('dt_classifier', DecisionTreeClassifier())])
pipeline_rf = Pipeline([('rf_classifier', RandomForestClassifier())])
pipeline_gbc = Pipeline([('gbc_classifier', GradientBoostingClassifier())])

In [29]:
pipelines = [pipeline_lr,pipeline_knn,pipeline_svc,pipeline_dt,pipeline_rf,pipeline_gbc]

In [30]:
pipelines

[Pipeline(steps=[('scalar1', StandardScaler()),
                 ('lr_classifier', LogisticRegression())]),
 Pipeline(steps=[('scalar2', StandardScaler()),
                 ('knn_classifier', KNeighborsClassifier())]),
 Pipeline(steps=[('scalar3', StandardScaler()), ('svc_classifier', SVC())]),
 Pipeline(steps=[('dt_classifier', DecisionTreeClassifier())]),
 Pipeline(steps=[('rf_classifier', RandomForestClassifier())]),
 Pipeline(steps=[('gbc_classifier', GradientBoostingClassifier())])]

In [31]:
for pipe in pipelines:
    pipe.fit(X_train,y_train)

In [39]:
# to check the accuracy score lets create dictionary

pipe_dict = {0:'LR',
             1:'KNN',
             2:'SVC',
             3:'DT',
             4:'RF',
             5:'GBC'}

In [40]:
pipe_dict

{0: 'LR', 1: 'KNN', 2: 'SVC', 3: 'DT', 4: 'RF', 5: 'GBC'}

In [41]:
for i,model in enumerate(pipelines):
    print("{} Test Accuracy : {}".format(pipe_dict[i],model.score(X_test,y_test)))

LR Test Accuracy : 0.7662337662337663
KNN Test Accuracy : 0.6883116883116883
SVC Test Accuracy : 0.7337662337662337
DT Test Accuracy : 0.7207792207792207
RF Test Accuracy : 0.7532467532467533
GBC Test Accuracy : 0.7597402597402597

In [46]:
# Tuning the Accuracy score 

pipeline_lr = Pipeline([('scalar1', StandardScaler()), ('lr_classifier', LogisticRegression())])

pipeline_knn = Pipeline([('scalar2', StandardScaler()), ('knn_classifier', KNeighborsClassifier())])

pipeline_svc = Pipeline([('scalar3', StandardScaler()), ('svc_classifier', SVC())])

pipeline_dt = Pipeline([('dt_classifier', DecisionTreeClassifier())])
pipeline_rf = Pipeline([('rf_classifier', RandomForestClassifier(max_depth=4))])
pipeline_gbc = Pipeline([('gbc_classifier', GradientBoostingClassifier())])

In [47]:
for i,model in enumerate(pipelines):
    print("{} Test Accuracy : {}".format(pipe_dict[i],model.score(X_test,y_test)))

LR Test Accuracy : 0.7662337662337663
KNN Test Accuracy : 0.6883116883116883
SVC Test Accuracy : 0.7337662337662337
DT Test Accuracy : 0.7207792207792207
RF Test Accuracy : 0.7532467532467533
GBC Test Accuracy : 0.7597402597402597

In [48]:
from sklearn.ensemble import RandomForestClassifier

In [73]:
X = data.drop('Outcome',axis=1)
y = data['Outcome']

In [74]:
rf = RandomForestClassifier()

In [75]:
rf.fit(X,y)

RandomForestClassifier()

#### Prediction on New Data

In [76]:
new_data = pd.DataFrame({
                        'Pregnancies':6,
                        'Glucose':148.0,
                        'BloodPressure':72.0,
                        'SkinThickness':35.0,
                        'Insulin':79.799479,
                        'BMI':33.6,
                        'DiabetesPedigreeFunction':0.627,
                        'Age':50
                         },index=[0])

In [80]:
rf.predict(new_data)

array([1], dtype=int64)

In [78]:
# Predicting new unseen values

p = rf.predict(new_data)

In [79]:
if p[0] == 0:
    print('Non Diabetic')
else:
    print('Diabetic')

Diabetic

In [69]:
# Drop the 'Unnamed: 0' column

X.drop(columns=['Unnamed: 0'], inplace=True)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148.0,72.0,35.000000,79.799479,33.6,0.627,50
1,1,85.0,66.0,29.000000,79.799479,26.6,0.351,31
2,8,183.0,64.0,20.536458,79.799479,23.3,0.672,32
3,1,89.0,66.0,23.000000,94.000000,28.1,0.167,21
4,0,137.0,40.0,35.000000,168.000000,43.1,2.288,33
...,...,...,...,...,...,...,...,...
763,10,101.0,76.0,48.000000,180.000000,32.9,0.171,63
764,2,122.0,70.0,27.000000,79.799479,36.8,0.340,27
765,5,121.0,72.0,23.000000,112.000000,26.2,0.245,30
766,1,126.0,60.0,20.536458,79.799479,30.1,0.349,47
767,1,93.0,70.0,31.000000,79.799479,30.4,0.315,23